frontend/node_modules/grunt-contrib-compass/node_modules/bin-version-check/node_modules/bin-version/node_modules/find-versions/node_modules/meow/node_modules/normalize-package-data/node_modules/validate-npm-package-license/package.json
frontend/node_modules/grunt-contrib-compass/node_modules/bin-version-check/node_modules/bin-version/node_modules/find-versions/node_modules/meow/node_modules/loud-rejection/node_modules/signal-exit/test/fixtures/change-code-expect.json
